@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=block");
@import url("https://fonts.googleapis.com/css?family=Gochi+Hand&display=block");
@import url("https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism-tomorrow.min.css");
.☠-body {
  margin: 0;
}

.☠-a,
.☠-p,
.☠-strong {
  font-family: "Courier Prime", monospace;
}

.☠-a {
  color: #0652dd;
}
.☠-a:hover {
  color: #ed4c67;
}

.☠-nowrap {
  white-space: nowrap;
}

:root {
  --☠-a-colorPrimary-100: #5a93fb;
  --☠-a-colorPrimary-200: #4c89fa;
  --☠-a-colorPrimary-300: #3e80fa;
  --☠-a-colorPrimary-400: #236ef9;
  --☠-a-colorPrimary-500: #0652dd;
  --☠-a-colorPrimary-600: #0542b1;
  --☠-a-colorPrimary-700: #04399b;
  --☠-a-colorPrimary-800: #043590;
  --☠-a-colorPrimary-900: #043185;
  --☠-a-colorSecondary-100: #fac579;
  --☠-a-colorSecondary-200: #fac16d;
  --☠-a-colorSecondary-300: #f9bc62;
  --☠-a-colorSecondary-400: #f9b24c;
  --☠-a-colorSecondary-500: #f79f1f;
  --☠-a-colorSecondary-600: #d78208;
  --☠-a-colorSecondary-700: #bc7207;
  --☠-a-colorSecondary-800: #ae6a06;
  --☠-a-colorSecondary-900: #a16206;
  --☠-a-colorAccent-100: #f494a4;
  --☠-a-colorAccent-200: #f38b9c;
  --☠-a-colorAccent-300: #f28295;
  --☠-a-colorAccent-400: #f17085;
  --☠-a-colorAccent-500: #ed4c67;
  --☠-a-colorAccent-600: #e41739;
  --☠-a-colorAccent-700: #c71432;
  --☠-a-colorAccent-800: #b9132e;
  --☠-a-colorAccent-900: #ab112b;
  --☠-a-colorNeutral-100: #bdbdbd;
  --☠-a-colorNeutral-200: #b8b8b8;
  --☠-a-colorNeutral-300: #b2b2b2;
  --☠-a-colorNeutral-400: #a7a7a7;
  --☠-a-colorNeutral-500: #919191;
  --☠-a-colorNeutral-600: #747474;
  --☠-a-colorNeutral-700: #666666;
  --☠-a-colorNeutral-800: #5e5e5e;
  --☠-a-colorNeutral-900: #575757;
}

.☠-a-display {
  font-family: "Courier Prime", monospace;
}
.☠-a-display.-☠-level-1 {
  font-size: 5rem;
}
.☠-a-display.-☠-level-2 {
  font-size: 2.5rem;
}
.☠-a-display.-☠-level-3 {
  font-size: 1.6666666667rem;
}
.☠-a-display.-☠-level-4 {
  font-size: 1.25rem;
}

.☠-a-heading {
  font-family: "Courier Prime", monospace;
}
.☠-a-heading.-☠-level-1 {
  box-shadow: inset 0 0 0 999em #0652dd;
  color: white;
  display: table;
  height: 2rem;
  padding: 0.25rem 0.5rem 0;
  text-transform: uppercase;
}
.☠-a-heading.-☠-level-1::after {
  content: ".";
}
.☠-a-heading.-☠-level-2 {
  border-bottom: 2px solid #0652dd;
  text-transform: uppercase;
}
.☠-a-heading.-☠-level-1 {
  font-size: 2.5rem;
}
.☠-a-heading.-☠-level-2 {
  font-size: 2rem;
}
.☠-a-heading.-☠-level-3 {
  font-size: 1.75rem;
}
.☠-a-heading.-☠-level-4 {
  font-size: 1.5rem;
}
.☠-a-heading.-☠-level-5 {
  font-size: 1.25rem;
}
.☠-a-heading.-☠-level-6 {
  font-size: 1rem;
}

.☠-m-colorSwatch {
  background-color: #dedede;
  border-radius: 0.5em;
  display: inline-block;
  font-family: "Courier Prime", monospace;
  min-width: 20rem;
  overflow: hidden;
  text-align: center;
}
.☠-m-colorSwatch_swatch {
  height: 10rem;
}
.☠-m-colorSwatch_body {
  padding: 1rem;
}
.☠-m-colorSwatch_body > pre {
  margin: 0 -1rem;
}
.☠-m-colorSwatch_body > pre > code {
  font-family: "Courier Prime", monospace;
}

.☠-o-footer {
  align-self: end;
  background-color: #0652dd;
  color: white;
  grid-area: 6/2/7/5;
  padding: 0.75rem 1rem 0.5rem;
  text-align: right;
}
.☠-o-footer > .☠-p {
  margin: 0;
}

.☠-o-sidebar {
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
  grid-area: sidebar;
  overflow-x: hidden;
  padding: 1rem;
}
.☠-o-sidebar a[aria-current]:not(span) {
  background-color: #0652dd;
  color: white;
}
.☠-o-sidebar a {
  color: white;
}
.☠-o-sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.☠-o-sidebar_button {
  color: gray;
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
}
.☠-o-sidebar_button:hover:not(span) {
  color: #ed4c67;
}
.☠-o-sidebar_item.-☠-level-0 > .☠-o-sidebar_button {
  padding-left: 1rem;
}
.☠-o-sidebar_item.-☠-level-1 > .☠-o-sidebar_button {
  padding-left: 2rem;
}
.☠-o-sidebar_list.-☠-level-0 {
  font-size: 1.25rem;
}
.☠-o-sidebar_list.-☠-level-0 > .☠-o-sidebar_button {
  font-weight: bold;
}
.☠-o-sidebar_list.-☠-level-1 {
  font-size: 1rem;
}
.☠-o-sidebar_title {
  font-family: inherit;
  font-size: 2rem;
  border-bottom: 2px solid #0652dd;
  text-indent: 1rem;
  text-transform: uppercase;
}

.☠-container {
  display: grid;
  grid-template-areas: "sidebar sidebar sidebar main main" "sidebar sidebar sidebar main main" "sidebar sidebar sidebar main main" "sidebar sidebar sidebar main main";
  grid-template-rows: 1rem auto 1rem auto 1rem auto 1rem;
  grid-template-columns: 1rem minmax(16rem, 1fr) 1rem 3fr 1rem;
}
.☠-container::before {
  background-color: #1a1a1a;
  content: "";
  display: block;
  grid-column: 1/4;
  grid-row: 1/8;
  min-height: 100vh;
}
.☠-containerAuto {
  margin: auto;
  max-width: 60rem;
}

.☠-main {
  grid-area: main;
  padding: 1rem;
}

/*# sourceMappingURL=%E2%98%A0.css.map */
