@use '../1-abstracts/variables' as v
@use 'sass:map'

.☠-body
  margin: 0

.☠-a,
.☠-p,
.☠-strong
  font-family: #{map.get(v.$fonts, 'body')}

.☠-a
  color: map.get(v.$swatches, 'primary-500')
  &:hover
    color: map.get(v.$swatches, 'accent-500')