@use '../1-abstracts/variables' as v;
@use 'sass:color';
@use 'sass:string';

:root {
  @each $name, $value in v.$swatches {
    $color-name: string.to-upper-case(string.slice($name, 0, 1)) + string.slice($name, 2);
    --a-color#{$color-name}: #{$value};
  }
}
@each $name, $value in v.$swatches {
  $color-name: string.to-upper-case(string.slice($name, 0, 1)) + string.slice($name, 2);
  .-a-color#{$color-name} {
    --color: #{$value};
  } 
}