@use '../1-abstracts/functions' as f;
@use '../1-abstracts/variables' as v;
@use 'sass:string';

:root {
  @each $name, $swatches in v.$color-swatches {
    $color-name: f.capitalize($name);
    @each $swatch, $value in $swatches {
      --a-color#{$color-name}-#{$swatch}: #{$value};
    }
  }
}

@each $name, $swatches in v.$color-swatches {
  $color-name: f.capitalize($name);
  .-a-color#{$color-name} {
    @each $swatch, $value in $swatches {
      --color-#{$swatch}: #{$value};
    }
  } 
}

@each $name, $swatches in v.$color-swatches {
  $color-name: f.capitalize($name);
  @each $swatch, $value in $swatches {
    .-a-color#{$color-name}-#{$swatch} {
      --color: #{$value};
    }
  } 
}