@use '../1-abstracts/variables' as v;
@use 'sass:list';
@use 'sass:map';

.a-display {
  font-family: #{map.get(v.$font-families, 'heading')};
  font-weight: 300;
  @for $i from 1 through list.length(v.$font-display-sizes) {
    &.-level-#{$i} {
      font-size: list.nth(v.$font-display-sizes, $i);
    }
  }
}