@use '../1-abstracts/variables' as v;
@use 'sass:list';
@use 'sass:map';

.a-display {
  $sizes: 6rem, 5.5rem, 4.5rem, 3.5rem;
  font-family: #{map.get(v.$fonts, 'heading')};
  @for $i from 1 through 4 {
    &.-level-#{$i} {
      font-size: list.nth($sizes, $i);
    }
  }
}