@use '../1-abstracts/functions' as f;
@use '../1-abstracts/variables' as v;
@use 'sass:map';

.m-button {
  background-color: var(--color-500, f.get-swatch('neutral'));
  border-radius: .25em;
  border: 2px solid var(--color-500, f.get-swatch('neutral'));
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: #{map.get(v.$font-families, 'body')};
  font-size: 1em;
  line-height: 1.5;
  padding: .5em 1em;
  text-decoration: none;
  &:hover,
  &.-stateHover {
    background-color: var(--color-300, f.get-swatch('neutral', '300'));
    border-color: var(--color-300, f.get-swatch('neutral', '300'));
    color: var(--color-800, f.get-swatch('neutral', '800'));
  }
  &:active,
  &.-stateActive {
    background-color: var(--color-600, f.get-swatch('neutral', '600'));
    border-color: var(--color-600, f.get-swatch('neutral', '600'));
    color: black;
  }
  &:disabled,
  &.-stateDisabled {
    background-color: var(--color-100, f.get-swatch('neutral', '100'));
    border-color: var(--color-100, f.get-swatch('neutral', '100'));
    color: var(--color-400, f.get-swatch('neutral', '400'));
  }
  &.-style {
    &Ghost {
      background-color: white;
      color: var(--color-500, f.get-swatch('neutral'));
      &:hover,
      &.-stateHover {
        background-color: var(--color-300, f.get-swatch('neutral', '300'));
        color: var(--color-700, f.get-swatch('neutral', '700'));
      }
      &:active,
      &.-stateActive {
        background-color: var(--color-600, f.get-swatch('neutral', '600'));
        color: black;
      }
      &:disabled,
      &.-stateDisabled {
        background-color: white;
        border-color: var(--color-100, f.get-swatch('neutral', '100'));
        color: var(--color-100, f.get-swatch('neutral', '100'));
      }
    }
    &Rectangular {
      border-radius: none;
    }
  }
}