---
eleventyNavigation:
  key: Colors
  order: 1
  parent: Atoms
layout: default
tags: atom
colors:
  primary:
    - code: hsl(0 100% 50%)
      name: Red
    - code: hsl(120 100% 50%)
      name: Green
    - code: hsl(240 100% 50%)
      name: Blue
  secondary:
    - code: hsl(60 100% 50%)
      name: Yellow
    - code: hsl(180 100% 50%)
      name: Cyan
    - code: hsl(300 100% 50%)
      name: Magenta
---
<h1 class="☠-a-heading -☠-level-1">{{ eleventyNavigation.key }}</h1>
{%- macro colorSwatch(color) %}
<div class="☠-m-colorSwatch">
    <div class="☠-m-colorSwatch_swatch" style="background-color: {{ color.code }}"></div>
    <div class="☠-m-colorSwatch_head">
      <div class="☠-a-display -☠-level-1">{{ color.name }}</div>
    </div>
    <div class="☠-m-colorSwatch_body">
      {% highlight 'html' %}
      <p>lorem ipsum</p>
      {% endhighlight%}
      <p>{{ color.code }}</p>
    </div>
</div>
{%- endmacro %}

<h2 class="☠-a-heading -☠-level-2">Primary</h2>
<div class="☠-m-colorContainer">
{%- for color in colors.primary %}
{{ colorSwatch(color) }}
{%- endfor %}
</div>

<h2 class="☠-a-heading -☠-level-2">Secondary</h2>
<div class="☠-m-colorSwatches">
{%- for color in colors.secondary %}
{{ colorSwatch(color) }}
{%- endfor %}
</div>
