---
eleventyNavigation:
  key: Typography
  order: 1
  parent: Atoms
layout: default
tags: atom
---
<h1 class="☠-heading ☠-heading--level-1">{{ eleventyNavigation.key }}</h1>

<h2 class="☠-heading ☠-heading--level-2">Headings</h2>

{% for i in range(1, 7) %}
<h{{ i }}>h{{ i }} Lorem ipsum sid dolor amet</h{{ i}}> <code>{{ '<h{{ i }}>' }}</code>
{% endfor%}

<h2 class="☠-heading ☠-heading--level-2">Display Headings</h2>

{% for i in range(1, 5) %}
<h{{ i }} class="a-display a-display--1">Lorem ipsum sid dolor amet</h{{ i}}>
{% endfor%}
