@use 'sass:color';
@use 'sass:map';

$fonts: (
  'heading': '"Courier Prime", monospace',
  'body'   : '"Courier Prime", monospace',
  'code'   : '"Courier Prime", monospace',
);

$palette: (
  'primary'  : hsl(250 95% 50%),
  'secondary': hsl(120 95% 50%),
  'accent'   : hsl(0 95% 50%),
  'neutral'  : hsl(0 0% 20%),
);

$swatches: ();
@each $name, $value in $palette {
  $colors: (
    '#{$name}-100': #{color.scale($value, $lightness: 40%)},
    '#{$name}-200': #{color.scale($value, $lightness: 35%)},
    '#{$name}-300': #{color.scale($value, $lightness: 30%)},
    '#{$name}-400': #{color.scale($value, $lightness: 20%)},
    '#{$name}-500': #{$value},
    '#{$name}-600': #{color.scale($value, $lightness: -20%)},
    '#{$name}-700': #{color.scale($value, $lightness: -30%)},
    '#{$name}-800': #{color.scale($value, $lightness: -35%)},
    '#{$name}-900': #{color.scale($value, $lightness: -40%)},
  );
  $swatches: map.merge($swatches, $colors);
}
