---
eleventyNavigation:
  key: Buttons
  order: 1
  parent: Molecules
layout: default
tags: molecule
---
<h1 class="☠-a-heading -☠-level-1">{{ eleventyNavigation.key }}</h1>

<h2 class="☠-a-heading -☠-level-2">Default</h2>

<button class="a-button">normal state</button>

<button class="a-button -hover">hover state</button>

<button class="a-button -active">active state</button>

<button class="a-button -disabled">disabled state</button>

<h2 class="☠-a-heading -☠-level-2">Primary</h2>

<button class="a-button -primary">normal state</button>

<button class="a-button -primary -hover">hover state</button>

<button class="a-button -primary -active">active state</button>

<button class="a-button -primary -disabled">disabled state</button>

<h2 class="☠-a-heading -☠-level-2">Secondary</h2>

<button class="a-button -secundary">normal state</button>

<button class="a-button -secundary -hover">hover state</button>

<button class="a-button -secundary -active">active state</button>

<button class="a-button -secundary -disabled">disabled state</button>