---
eleventyNavigation:
  key: Buttons
  order: 1
  parent: Molecules
layout: default
tags: molecule
---
<h1 class="☠-a-heading -☠-level-1">{{ eleventyNavigation.key }}</h1>

<h2 class="☠-a-heading -☠-level-2">Default</h2>

<button class="a-button">normal state</button>
<button class="a-button -stateHover">hover state</button>
<button class="a-button -stateActive">active state</button>
<button class="a-button -stateDisabled">disabled state</button>

<h2 class="☠-a-heading -☠-level-2">Primary</h2>

<button class="a-button -typePrimary">normal state</button>
<button class="a-button -typePrimary -stateHover">hover state</button>
<button class="a-button -typePrimary -stateActive">active state</button>
<button class="a-button -typePrimary -stateDisabled">disabled state</button>

<h2 class="☠-a-heading -☠-level-2">Secondary</h2>

<button class="a-button -typeSecondary">normal state</button>
<button class="a-button -typeSecondary -stateHover">hover state</button>
<button class="a-button -typeSecondary -stateActive">active state</button>
<button class="a-button -typeSecondary -stateDisabled">disabled state</button>