---
eleventyNavigation:
  key: Buttons
  order: 1
  parent: Molecules
layout: default
tags: molecule
---
{%- macro buttons(classes) %}
<p>
  <button class="m-button{% if classes %} {{ classes }}{% endif %}">normal state</button>
  <button class="m-button{% if classes %} {{ classes }}{% endif %} -stateHover">hover state</button>
  <button class="m-button{% if classes %} {{ classes }}{% endif %} -stateActive">active state</button>
  <button class="m-button{% if classes %} {{ classes }}{% endif %}" disabled>disabled state</button>
</p>
<p>
  <a class="m-button{% if classes %} {{ classes }}{% endif %}">normal state</a>
  <a class="m-button{% if classes %} {{ classes }}{% endif %} -stateHover">hover state</a>
  <a class="m-button{% if classes %} {{ classes }}{% endif %} -stateActive">active state</a>
  <a class="m-button{% if classes %} {{ classes }}{% endif %} -stateDisabled">disabled state</a>
</p>
{%- endmacro %}
<h1 class="☠-a-heading -☠-level-1">{{ eleventyNavigation.key }}</h1>

<h2 class="☠-a-heading -☠-level-2">Standard Style</h2>

<h3 class="☠-a-heading -☠-level-3">Default</h3>

{%- set htmlCode %}
{{ buttons() }}
{%- endset %}

{{ htmlCode | safe }}

{% highlight 'html' %}
{{ htmlCode | safe }}
{%- endhighlight %}

<h3 class="☠-a-heading -☠-level-3">Primary</h3>

{%- set htmlCode %}
{{ buttons('-a-colorPrimary') }}
{%- endset %}

{{ htmlCode | safe }}

{%- highlight 'html' %}
{{ htmlCode | safe }}
{%- endhighlight %}

<h3 class="☠-a-heading -☠-level-3">Secondary</h3>

{%- set htmlCode %}
{{ buttons('-a-colorSecondary') }}
{%- endset %}

{{ htmlCode | safe }}

{%- highlight 'html' %}
{{ htmlCode | safe }}
{%- endhighlight %}

<h2 class="☠-a-heading -☠-level-2">Ghost Style</h2>

<h3 class="☠-a-heading -☠-level-3">Default</h3>

{%- set htmlCode %}
{{ buttons('-styleGhost -a-colorNeutral') }}
{%- endset %}

{{ htmlCode | safe }}

{%- highlight 'html' %}
{{ htmlCode | safe }}
{%- endhighlight %}

<h3 class="☠-a-heading -☠-level-3">Primary</h3>

{%- set htmlCode %}
{{ buttons('-styleGhost -a-colorPrimary') }}
{%- endset %}

{{ htmlCode | safe }}

{%- highlight 'html' %}
{{ htmlCode | safe }}
{%- endhighlight %}

<h3 class="☠-a-heading -☠-level-3">Secondary</h3>

{%- set htmlCode %}
{{ buttons('-styleGhost -a-colorSecondary') }}
{%- endset %}

{{ htmlCode | safe }}

{%- highlight 'html' %}
{{ htmlCode | safe }}
{%- endhighlight %}