<!DOCTYPE html>
<html lang="{{ site.lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if eleventyNavigation.key %}{{ eleventyNavigation.key }} | {% elif title %}{{ title }} |
        {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.css.agency | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
</head>

<body class="☠-body">
    <div class="☠-container">
{% include 'components/sidebar.html' %}
        <main class="☠-main">
            <div class="☠-container_auto">
{{ content | safe }}
            </div>
        </main>
{% include 'components/footer.html' %}
    </div>
</body>

</html>