<!DOCTYPE html>
<html lang="{{ site.lang }}">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if eleventyNavigation.key %}{{ eleventyNavigation.key }} | {% elif title %}{{ title }} | {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.css.agency | url }}">
</head>

<body class="☠-body">
    <div class="☠-container">
        <nav class="☠-sidebar">
            {% include 'components/sidebar.njk' %}
        </nav>
        <div></div>
        <main class="☠-main">
            <div class="☠-container--auto">
{{ content | safe }}
            </div>
        </main>
        <footer class="☠-footer">&copy; 2019-2020 Artevelde<wbr>hogeschool <span class="☠-nowrap">&mdash; Artevelde University of Applied Sciences</span></footer>
    </div>
</body>

</html>