@use '../1-abstracts/variables' as v;
@use 'sass:list';
@use 'sass:map';

:root {
  font-family: #{map.get(v.$font-families, 'body')};
}

@for $i from 1 through list.length(v.$font-heading-sizes) {
  h#{$i} {
    font-family: #{map.get(v.$font-families, 'heading')};
    font-size: list.nth(v.$font-heading-sizes, $i);
    margin: .75em 0
  }
}