@use '../1-abstracts/variables' as v
@use 'sass:list'
@use 'sass:map'

.☠-a-heading
  font-family: #{map.get(v.$font-families, 'heading')}
  margin: .75em 0
  &.-☠-level-1
    color: white
    display: table
    padding: .25em .5em 0
    position: relative
    text-transform: uppercase
    &::after
      content: '.'
    &::before
      filter: drop-shadow(4px 4px 8px map.get(v.$color-swatches, 'primary-900'))
      background: transparent
      bottom: 0
      box-shadow: inset 0 0 0 999em map.get(v.$color-swatches, 'primary-500')
      content: ''
      left: 0
      position: absolute
      right: 0
      top: 0
      transform: rotate(-1deg)
      z-index: -1
  &.-☠-level-2
    border-bottom: 2px solid map.get(v.$color-swatches, 'primary-500')
    padding: .25em 0 0
    text-transform: uppercase
  @for $i from 1 through list.length(v.$font-heading-sizes)
    &.-☠-level-#{$i}
      font-size: list.nth(v.$font-heading-sizes, $i)
      @if $i > 2
        @extend %underline
  @at-root %underline
    text-decoration-color: map.get(v.$color-swatches, 'primary-500')
    text-decoration-line: underline
    text-decoration-style: solid
